@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
body {
    margin: 0px;
}

p {
    font-family: roboto slab;
    margin: 30px 30px 0px 30px;
    font-size: 24px;
    text-align: center;
    
}

nav {
    background-color: #2a3baa;
    display: flex;
    height: 7vh;
    font-family: rubik;
}

#site-name {
    color: #fff;
}

#navbar-links {
    list-style-type: none;
    margin-left: 750px;
    flex-wrap: wrap;
}

li {
    display: inline;
    padding-right: 10px;
    margin-bottom: 5px;
}

h1 {
    margin: 0;
    font-family: rubik;
}

.hero-header {
    background-color: #011638;
    height: 60vh;
    display: flex;
    align-items: center;
}

.hero-heading {
    color: #EEC643;
    font-family: rubik;
    font-size: 50px;
    padding-left: 1em;
}

#about-header {
    margin: 10px;
}

.contact {
    margin-top: 40px;
    margin-left: 30%;
    border: 2px solid #011638;
    margin-right: 30%;
    padding: 30px;
    border-radius: 15px;
}

input {
    margin: 1em;
}

#message {
    width: 400px;
    margin-left: 14px;
    height: 100px;
    resize: none;
}
#mobile-links {
    display: none;
}
#menu {
    display: none;
}
 #plug {
     color: black;
     font-family: rubik;
     background-color:#EEC643;
 }

/* styling links */
a:link {
    text-decoration: none;
    color: white;  
}
a:active {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: white;
}
a:hover {
    border-radius: 5px;
    text-decoration: underline;
    transition: text-decoration 0.5s linear;
}

 @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #navbar-links {
        display: none;
        margin-left: 0px;
    }
    #mobile-links {
        display: none;
        background-color:#011638;
        height: 40px;
        align-items: center;
        margin: 0px;
        padding: 0px;
        font-family: rubik;
        justify-content: space-evenly;
    }
    #menu-button {
        text-decoration: none;
    }
    #menu{    
        margin-left: 175px;
        margin-top: 5px;
        display: block !important;
    }
    #message {
        width: 325px;
        margin-left: 0px;
        height: 100px;
        resize: none;
    }
    .contact {
        margin-top: 40px;
        margin-left: 10px;
        border: 2px solid #011638;
        margin-right: 10px;
        padding: 30px;
        border-radius: 15px;
    }
    
    input {
        margin: 5px;
    }
  }