@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body {
    margin: 0px;
}
nav {
    color: #011638;
    background-color: #2a3baa;
    display: flex;
    height: 7vh;
    font-family: rubik;
}

#navbar-links {
    list-style-type: none;
    margin-left: 750px;
}

#site-name {
    color: white;
}

#main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

li {
    display: inline;
    padding-right: 10px;
    margin-bottom: 5px;
}

h1 {
    margin: 0;
    font-family: rubik;
}

.package-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}

p {
    font-family: rubik;
    font-size: 24px;
}

.grid-item {
    background-color:blanchedalmond;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* cardboard box */
.package-container div:nth-child(1) {
    background-image: url('/images/box.png');
}
/* kraft envelope */
.package-container div:nth-child(2) {
    background-image: url('/images/kraftenvelope.jpeg');
}

/* styling links */
a:link {
    text-decoration: none;
    color: white;  
}
a:active {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: white;
}
a:hover {
    border-radius: 5px;
    text-decoration: underline;
    transition: text-decoration 0.5s linear;

}