@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html {
    scroll-behavior: smooth;
}

p {
    font-family: roboto slab;
    color: white;
}

body {
    margin: 0px;
}
nav {
    background-color: #2a3baa;
    display: flex;
    height: 7vh;
    font-family: rubik;
}

#site-name {
    color:#fff;
}

#navbar-links {
    list-style-type: none;
    margin-left: 750px;
}

li {
    display: inline-block;
    padding-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.hero-header {
    background-color: #0D21A1;
    height: 70vh;
    display: flex;
}

.hero-text {
    color: #EEF0F2;
    padding-top: 10%;
    padding-left: 10%;
    flex: 1;
}

#hero-image {
    width: 200px;
    height: 200px;
    margin-right: auto;
    padding-top: 5%;
    padding-right: 15%;
}

span {
    font-size: 32px;
    font-weight: bold;
}

h1 {
    margin: 0;
    font-family: rubik;
}

.leader {
    background-color: #011638;
    height: 20vh;
    text-align: center;
    padding-top: 30px;
}

#leader-text {
    color: #EEC643;
}

#body1 {
    background-color: #011638;
    height: 100vh;
}

#body1 h1{
    color: #EEF0F2;
    text-align: center;
}

.three-column {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 40px
}

#body2 {
    background-color: #011638;
    height: 100vh;
}

#body2 h1{
    color: #EEF0F2;
    text-align: center;
}

.canIRecycle-redirect {
    float: right;
    display: inline-block;
}

.caret {
    vertical-align: middle;
    padding-right: 5px;
}

.redirect {
    color: #EEC643;
    font-family: rubik;
    vertical-align: middle;
    font-size: 16px;
}

.redirect:hover {
    cursor: pointer;
}

/* styling links */ 
a:link {
    text-decoration: none;
    color: #fff;  
}
a:active {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #fff;
}
a:hover {
    border-radius: 5px;
    text-decoration: underline;
    transition: text-decoration 0.5s linear;
}

/* styling the chevron down */
i {
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
}
@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}