@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body {
    margin: 0px;
}
nav {
    color: #011638;
    background-color: #C4C4C4;
    display: flex;
    height: 7vh;
    font-family: rubik;
}

#navbar-links {
    list-style-type: none;
    margin-left: 750px;
}

#main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

li {
    display: inline;
    padding-right: 10px;
    margin-bottom: 5px;
}

h1 {
    margin: 0;
    font-family: rubik;
}

.header {
    height: 30vh;
    background-color: #011638;
    color: #fff;
    display: flex;
    align-items: center;
}

table {
    border: 2px solid black;
    padding: 30px;
    border-radius: 15px;
    font-family: roboto slab;
}
th {
    background-color: #EEC643;
    padding: 10px;
}
td {
    text-align: center;
    background-color:bisque
}
p {
    font-family: roboto slab;
}

/* styling links */
a:link {
    text-decoration: none;
    color: black;  
}
a:active {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    border-radius: 5px;
    background-color:blueviolet;
    transition: background-color 0.5s linear;

}